.taskList {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  margin-bottom: 32px;
}

.empty {
  padding: 60px 20px;
  text-align: center;
  border: 1px solid var(--color-gray-medium);
  margin-bottom: 32px;

  p {
    color: var(--color-gray-dark);
    font-size: 16px;
  }
}
