.inputContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.input {
  flex: 1;
  padding: 16px 20px;
  border: 1px solid var(--color-black);
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition);

  &:focus {
    border-width: 2px;
    padding: 15px 19px;
  }

  &::placeholder {
    color: var(--color-gray-dark);
  }
}

.addButton {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);
  transition: var(--transition);

  &:hover:not(:disabled) {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &:active:not(:disabled) {
    transform: scale(0.96);
  }

  &:disabled {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-medium);
    color: var(--color-gray-dark);
    cursor: not-allowed;
  }

  svg {
    display: block;
  }
}
